mixin Tweet(tw, full)
	.tweet(id=`${tw.id}`, class=`${tw.retweeter ? 'retweet' : ''} ${full ? 'full' : ''}`)
		.left
			a(href=`/profile/${tw.author.username}`) 
				img.avatar(src=`/public/${tw.author.avatarId || 'default_avatar'}.jpg`)
		.right
			if tw.retweeter 
				a.ref(href=`/profile/${tw.retweeter.username}`) 
					i.fa-solid.fa-retweet
					span #{tw.retweeter.displayName || tw.retweeter.username} a retweeté
			if tw.author.id == user.id
				.tweet-action(tweet=`${tw.id}`, action='delete').fa-solid.fa-trash-can.delete.icon-button
			.tweet-heading 
					a(href=`/profile/${tw.author.username}`).tweet-author-displayname #{tw.author.displayName || tw.author.username}
					.tweet-author-username @#{tw.author.username}
					.tweet-time(date=`${tw.createdAt}`)
			if tw.repliesToUsername
				.tweet-replying-to En réponse à 
					a(href=`/profile/${tw.repliesToUsername}`) @#{tw.repliesToUsername}
			.tweet-content #{tw.content}
			if tw.imageId
				.tweet-image-fullscreen-container
					.tweet-image-fullscreen-close
						i.fa-solid.fa-xmark
					img.tweet-image(src='/public/' + tw.imageId + '.jpg')
			if full
				.tweet-footer-counters
					.tweet-footer-counter.replies 
						.number #{tw.replies.length} 
						.label réponses
					.tweet-footer-counter.retweets 
						.number #{tw.retweets.length} 
						.label retweets
					.tweet-footer-counter.likes 
						.number #{tw.likes.length} 
						.label J'aime
			.tweet-footer
				.tweet-action.reply(tweet=`${tw.id}`, action='reply') 
					i.fa-regular.fa-comment
					span.count #{tw.replies.length}
				.tweet-action.retweet(tweet=`${tw.id}`, action='retweet', undo=`${tw.retweets.includes(user.id)}`, class=`${tw.retweets.includes(user.id) ? 'active' : ''}`) 
					i.fa-solid.fa-retweet
					span.count #{tw.retweets.length}
				.tweet-action.like(tweet=`${tw.id}`, action='like', undo=`${tw.likes.includes(user.id)}`, class=`${tw.likes.includes(user.id) ? 'active' : ''}`) 
					if tw.likes.includes(user.id)
						i.fa-solid.fa-heart
					else
						i.fa-regular.fa-heart
					span.count #{tw.likes.length}