mixin tweet(tw)
	.tweet(id=`${tw.id}`, class=`${tw.retweeter ? 'retweet' : ''}`)
		.left
			a(href=`/profile/${tw.author.username}`) 
				if tw.author.avatarId
					img.avatar(src='/public/' + tw.author.avatarId + '.jpg')
				else
					img.avatar(src='/public/img/default_avatar.jpg')
		.right
			if tw.retweeter 
				a.ref(href=`/profile/${tw.retweeter.username}`) 
					i.fa-solid.fa-retweet
					span #{tw.retweeter.displayName || tw.retweeter.username} a retweeté
			if tw.author.id == user.id
				.tweet-action(tweet=`${tw.id}`, action='delete').delete 
					i.fa-solid.fa-trash
			.tweet-heading 
					a(href=`/profile/${tw.author.username}`).tweet-author-displayname #{tw.author.displayName || tw.author.username}
					.tweet-author-username @#{tw.author.username}
					.tweet-time(date=`${tw.createdAt}`)
			.tweet-content #{tw.content}
			if tw.mediaId
				.tweet-media-fullscreen-container
					.tweet-media-fullscreen-close
						i.fa-solid.fa-xmark
					img.tweet-media(src='/public/' + tw.mediaId + '.jpg')
			.tweet-footer
				.tweet-action.reply(tweet=`${tw.id}`, action='reply') 
					i.fa-regular.fa-comment
					span.count #{tw.replies.length}
				.tweet-action.retweet(tweet=`${tw.id}`, action='retweet', undo=`${tw.retweets.includes(user.id)}`, class=`${tw.retweets.includes(user.id) ? 'active' : ''}`) 
					i.fa-solid.fa-retweet
					span.count #{tw.retweets.length}
				.tweet-action.like(tweet=`${tw.id}`, action='like', undo=`${tw.likes.includes(user.id)}`, class=`${tw.likes.includes(user.id) ? 'active' : ''}`) 
					if tw.likes.includes(user.id)
						i.fa-solid.fa-heart
					else
						i.fa-regular.fa-heart
					span.count #{tw.likes.length}