include includes/_tweet-list
doctype html
html
	head
		include includes/_head
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet', href='/public/css/profile.css')
		link(rel='stylesheet', href='/public/css/tweet.css')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/moment-with-locales.min.js')
		script(src='/public/js/profile.js', defer)
		script(src='/public/js/tweet.js', defer)
		script.
			const PROFILE = !{JSON.stringify(profile || {})};
		title #{profile.displayName || '@' + profile.username} - Retweet
	body 
		if user.id == profile.id
			#profile-editor-container
				#profile-editor
					#profile-editor-title-bar
						#profile-editor-close 
							i.fa-solid.fa-close
						#profile-editor-title Éditer le profil
						#profile-editor-save Enregistrer
					form(action=`/api/profile/edit/${user.id}`, method='post', enctype='multipart/form-data')
						label(for='banner')
							div.profile-banner
								img(src=`/public/${profile.bannerId || 'default_banner'}.jpg`)
						label(for='avatar')
							div.profile-avatar
								img(src=`/public/${profile.avatarId || 'default_avatar'}.jpg`)
						input#avatar(type='file', name='avatar', accept='image/jpeg,image/png')
						input#banner(type='file', name='banner', accept='image/jpeg,image/png')
						.input-container(placeholder='Nom',limit='50')
							input(type='text', name='name', value=`${profile.displayName || ''}`)
						.input-container(placeholder='Bio', limit='160')
							div#bio-editor(contentEditable) #{profile.bio}
						input(type='hidden', name='bio')
						.input-container(placeholder='Site Internet', limit='100')
							input(type='text', name='website', value=`${profile.website || ''}`)
						.input-container(placeholder='Localisation', limit='30')
							input(type='text', name='location', value=`${profile.location || ''}`)
		.page-center
			.page-title 
				#profile-heading-username #{profile.displayName || '@' + profile.username}
				#profile-heading-tweets #{tweets.length} tweets
			#profile
				div.profile-banner
					img(src=`/public/${profile.bannerId || 'default_banner'}.jpg`)
				div.profile-avatar
					img(src=`/public/${profile.avatarId || 'default_avatar'}.jpg`)
				if user.id == profile.id
					#open-profile-editor Éditer le profil
				#profile-text
					if profile.displayName
						#profile-display-name(title=`${profile.displayName}`) #{profile.displayName}
					#profile-username @#{profile.username}
					if profile.bio
						#profile-bio #{profile.bio}
					#profile-misc-infos
						if profile.location
							.profile-misc#location
								i.fa-solid.fa-location-dot
								span #{profile.location}
						if profile.website
							a(href=`${profile.website}`).profile-misc#website
								i.fa-solid.fa-link
								span #{profile.website}
					#profile-created-at
						i.fa-regular.fa-calendar
						span(date=`${profile.createdAt}`)
					#profile-stats
						.profile-stat#follows
							span.counter #{profile.follows.length}
							span abonnements
						.profile-stat#followers 
							span.counter #{profile.followers.length}
							span abonnés
			+tweet-list('profile-tweets')
