include mixins/TweetList
include mixins/TextInput
doctype html
html
	head
		include _head
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet', href='/public/css/profile.css')
		link(rel='stylesheet', href='/public/css/Tweet.css')
		link(rel='stylesheet', href='/public/css/TextInput.css')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/moment-with-locales.min.js')
		script(src='/public/js/profile.js', defer)
		script(src='/public/js/TextInput.js', defer)
		script(src='/public/js/Tweet.js', defer)
		script.
			window.PROFILE = !{JSON.stringify(profile || {})};
		title #{profile.displayName || '@' + profile.username} - Retweet
	body 
		if user.id == profile.id
			#profile-editor-container
				#profile-editor
					#profile-editor-title-bar
						i#profile-editor-close.fa-solid.fa-close
						#profile-editor-title Éditer le profil
						.button#profile-editor-save Enregistrer
					form(action=`/api/profile/edit/${user.id}`, method='post', enctype='multipart/form-data')
						label(for='banner')
							div.profile-banner
								img(src=`/public/${profile.bannerId || 'default_banner'}.jpg`)
						label(for='avatar')
							div.profile-avatar
								img(src=`/public/${profile.avatarId || 'default_avatar'}.jpg`)
						input#avatar(type='file', name='avatar', accept='image/jpeg,image/png')
						input#banner(type='file', name='banner', accept='image/jpeg,image/png')
						+TextInput('name', false, false, 'Nom', 50, profile.displayName)
						+TextInput('bio', false, true, 'Bio', 160, profile.bio)
						+TextInput('website', false, false, 'Site Internet', 100,  profile.website)
						+TextInput('location', false, false, 'Localisation', 30, profile.location)
		.page-center
			.page-title #{profile.displayName || '@' + profile.username}
				.page-subtitle #{tweets.length} tweets
			#profile
				div.profile-banner
					img(src=`/public/${profile.bannerId || 'default_banner'}.jpg`)
				div.profile-avatar
					img(src=`/public/${profile.avatarId || 'default_avatar'}.jpg`)
				if user.id == profile.id
					.button.alt#open-profile-editor Éditer le profil
				#profile-text
					if profile.displayName
						#profile-display-name(title=`${profile.displayName}`) #{profile.displayName}
					#profile-username @#{profile.username}
					if profile.bio
						#profile-bio #{profile.bio}
					#profile-misc-infos
						if profile.location
							.profile-misc#location
								i.fa-solid.fa-location-dot
								span #{profile.location}
						if profile.website
							a(href=`${profile.website}`,target='_blank').profile-misc#website
								i.fa-solid.fa-link
								span #{profile.website}
					#profile-created-at
						i.fa-regular.fa-calendar
						span(date=`${profile.createdAt}`)
					#profile-stats
						.profile-stat#follows
							span.counter #{profile.follows.length}
							span abonnements
						.profile-stat#followers 
							span.counter #{profile.followers.length}
							span abonnés
			+TweetList('profile-tweets')
